@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-left {
  to {
    transform: translateX(calc(-100% - 12px));
  }
}

@-webkit-keyframes move-left {
  to {
    transform: translateX(calc(-100% - 12px));
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(calc(0% + 12px));
  }
}

@-webkit-keyframes move-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(calc(0% + 12px));
  }
}
