.aboutMe__section {
  margin: 140px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1660px;
  position: relative;

  & img {
    position: absolute;
    width: 300px;
    height: auto;
  }
  & img:nth-child(1) {
    top: -20%;
    left: 1%;
    z-index: -10;
    animation: float 6s ease-in-out infinite;
  }

  & img:nth-child(2) {
    bottom: -20%;
    right: 0;
    animation: float 7s 1s ease-in-out infinite;
  }
}

.aboutMe__container {
  width: 70%;
  padding: 3rem;
  background-color: hsla(var(--p-600-code), 0.1);
  border-radius: 3rem;
}

.aboutMe__content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  background-color: white;
  border-radius: 3rem;
  padding: 3rem 0;

  & h1 {
    color: var(--p-600);
  }

  & p {
    color: var(--n-600);
    padding: 0 1rem;
  }
}

.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 90%;

  & a {
    padding: 12px 12px;
    max-width: 80%;
    width: 240px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: 800;
    transition: all 0.3s ease;
  }
}

.primaryButton {
  color: white;
  background-color: var(--p-600);
  box-shadow:
    0 3px 6px -1px hsla(--p-900-code),
    0.2,
    0 1px 2px hsla(var(--p-900-code), 0.15);

  &:hover {
    background-color: var(--p-700);
    box-shadow:
      0 4px 8px hsla(var(--p-900-code), 0.2),
      0 2px 4px hsla(var(--p-900-code), 0.3),
      0 1px 2px hsla(var(--p-900-code), 0.5);
  }
}

.outlineButton {
  border: 1px solid var(--p-600);
  color: var(--p-600);
  background-color: transparent;

  &:hover {
    box-shadow:
      0 4px 8px hsla(var(--p-900-code), 0.1),
      0 2px 4px hsla(var(--p-900-code), 0.3);
  }
}
