.skills__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skills__grid_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(2, minmax(320px, 1fr));
  gap: 12px;
}

.skills__grid_item_header {
  & div {
    display: flex;
    gap: 12px;
  }

  & h2 {
    font-size: var(--h2-line-height);
    line-height: var(--h2-line-height);
    font-weight: 600;
    text-transform: capitalize;
  }

  & p {
    margin-top: 12px;
    color: var(--n-500);
    max-width: 60ch;
  }
}

.skills__grid_item {
  overflow: hidden;
  border: 2px solid var(--p-100);
  border-radius: 24px;
  background-color: var(--p-20);
  padding: 2rem 2rem;
  box-shadow:
    0px 2px 4px hsla(233, 45%, 20%),
    0.1;

  &:nth-child(1) {
    border: none;
    background: url(../../assets/cat1.jpeg) center / cover no-repeat;
  }

  &:nth-child(2) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .icons-list-wrapper {
      overflow: hidden;
      margin-top: 8px;
      display: flex;
      gap: 12px;

      &:nth-child(1) > .icon-list {
        animation: move-left 30s linear infinite;
      }

      &:nth-child(2) > .icon-list {
        animation: move-right 60s linear infinite;
      }
    }

    & .icon-list {
      display: flex;
      min-width: 100%;
      gap: 12px;
      flex-shrink: 0;
    }

    & .icon-badges {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.14em;
      border-radius: 12px;
      padding: 0.6em 0;
      width: 12em;
      font-weight: 700;
      font-size: var(--caption-font-size);
      text-transform: uppercase;

      & img {
        height: 2em;
      }
    }

    & .icon-badges:nth-child(even) {
      background: var(--main-gradient-color);
      color: white;
    }

    & .icon-badges:nth-child(odd) {
      background: white;
      border: 1px solid var(--p-100);

      & span {
        background: var(--main-gradient-color);
        color: transparent;
        background-clip: text;
      }
    }
  }

  &:nth-child(3) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .softSkills__container {
      position: relative;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      gap: 8px;
      margin-top: 8px;
    }

    & .softSkills_badge {
      height: 36px;
      width: 244px;
      border: 1px solid var(--p-100);
      border-radius: 24px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--caption-font-size);
      font-weight: 600;
      text-transform: capitalize;
      position: absolute;

      & p {
        background: var(--main-gradient-color);
        color: transparent;
        background-clip: text;
      }

      &:nth-child(1) {
        top: 25%;
        left: 10%;
        transform: rotate(-2deg);
      }

      &:nth-child(2) {
        bottom: 10%;
        left: 20%;
        transform: rotate(2deg);
      }

      &:nth-child(3) {
        top: 25%;
        right: 20%;
        transform: rotate(-2deg);
      }

      &:nth-child(4) {
        bottom: 10%;
        right: 5%;
        transform: rotate(2deg);
      }
    }

    & .softSkills__book_icons {
      position: relative;
      width: 100%;
      height: 100%;

      & img {
        height: 40px;
        width: 40px;
        position: absolute;

        &:nth-child(1) {
          top: 20px;
          left: 50px;
          transform: scaleX(-1) translateY(5px);
        }

        &:nth-child(2) {
          top: 40%;
          left: 45%;
          transform: rotate(120deg);
        }

        &:nth-child(3) {
          top: 10%;
          right: 20%;
        }

        &:nth-child(4) {
          bottom: 20%;
          right: 5%;
          transform: scaleX(-1) rotate(-40deg);
        }
      }
    }
  }

  &:nth-child(4) {
    background: url("../../assets/cat3.jpeg") center / cover no-repeat;
    border: none;

    &:hover {
      background-image: url("../../assets/cat2.jpeg");
    }
  }
}
